<footer class="footer">
  <p>Copyright (C) 2011-2020 <a href="https://metaredux.com">Bozhidar Batsov</a> and Projectile contributors.</p>
</footer>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
<script type="text/javascript">
docsearch({
  apiKey: 'd63510fa1207404e3966aedd33d34bce',
  indexName: 'nrepl',
  inputSelector: '#search-input',
  algoliaOptions: { 'facetFilters': ["version:0.7.0"] },
  debug: false // Set debug to true if you want to inspect the dropdown
});
</script>
