<footer class="footer">
  <p>Copyright (C) 2011-2020 <a href="https://metaredux.com">Bozhidar Batsov</a> and Projectile contributors.</p>
</footer>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
<script type="text/javascript">
docsearch({
  apiKey: 'c86e95fc4990d60790342080d6122bd8',
  indexName: 'projectile',
  inputSelector: '#search-input',
  debug: false // Set debug to true if you want to inspect the dropdown
});
</script>
