<footer class="footer">
  <p>Copyright (C) 2011-2020 <a href="https://metaredux.com">Bozhidar Batsov</a> and Projectile contributors.</p>
  <p>Except where otherwise noted, docs.projectile.mx is licensed under the <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution-ShareAlike 4.0 International</a> (CC BY-SA 4.0)</p>.
</footer>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
<script type="text/javascript">
docsearch({
  apiKey: 'c86e95fc4990d60790342080d6122bd8',
  indexName: 'projectile',
  inputSelector: '#search-input',
  debug: false // Set debug to true if you want to inspect the dropdown
});
</script>
