<header class="header" role="banner">
  <nav class="navbar">
    <div class="navbar-brand">
      <div class="navbar-item">
        <a href="https://projectile.mx">Projectile</a>
        <span class="separator">//</span>
        <a href="{{or site.url (or siteRootUrl siteRootPath)}}">Docs</a>
      </div>
      <div class="navbar-item">
        <div id="docsearch"></div>
      </div>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Projects</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://github.com/bbatsov/projectile">Projectile</a>
            <a class="navbar-item" href="https://github.com/bbatsov/helm-projectile">Helm Projectile</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Community</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="/projectile/support.html">Support</a>
            <a class="navbar-item" href="/projectile/contributing.html">Contributing</a>
            <a class="navbar-item" href="https://github.com/sponsors/bbatsov">GitHub Sponsors</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
